* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

section.pagamento {
    display: flex;
    max-width: 960px;
    padding: 0 2%;
    margin: 90px auto;
}

.descricao-pagamento {
    width: 30%;
}

.form-pagamento {
    width: 70%;
}

.descricao-pagamento h3 {
    color: rgb(140, 140, 140)
}

.descricao-pagamento h2 {
    color: black;
    font-size: 40px;
}