* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {    
    background: #f0cccc;;   
}

section.pagamento {
    display: flex;
    max-width: 960px;
    justify-content: space-around;
    padding: 0 2%;
    flex-wrap: wrap;
    margin: 90px auto;
}

.descricao-pagamento {
    width: 40%;
}

.form-pagamento {
    box-shadow: -8px 5px 15px 5px #C7C7C7;
    padding: 30px 30px 80px 30px;
    width: 50%;
    background-color: #f5e4e4;
}

.descricao-pagamento h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(140, 140, 140)
}

.descricao-pagamento h2 {
    color: black;
    font-size: 25px;
    padding: 10px;
}

.form-pagamento form {
    flex: wrap;
}

.form-100 {
    width: 100%;
    margin-bottom: 10px;
}

.form-50 {
    
    display: flex;
    margin-bottom: 10px;
}

.form-pagamento label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(140, 140, 140);
}

.form-pagamento input[type=text] {
    padding-left: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #CCC;
}

.form-pagamento input[type=submit] {
    width: 100%;
    height: 40px;
    border: 0;
    cursor: pointer;
    background-color: #e36666;
    color: white;
}

@media screen and (max-width:768px) {
    .descricao-pagamento,
    .form-pagamento {
        width: 100%;
        margin-bottom: 40px;
    }
}