* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background:hsl(225, 100%, 94%);
    width: 100%;
    height: 100vh;
    display: flex;
}